@font-face {
    font-family: "Prompt";
    src: url("./fonts/Prompt-Thin.ttf");
    font-weight: 100;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: "Prompt";
    src: url("./fonts/Prompt-ExtraLight.ttf");
    font-weight: 200;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: "Prompt";
    src: url("./fonts/Prompt-Light.ttf");
    font-weight: 300;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: "Prompt";
    src: url("./fonts/Prompt-Regular.ttf");
    font-weight: 400;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: "Prompt";
    src: url("./fonts/Prompt-Medium.ttf");
    font-weight: 500;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: "Prompt";
    src: url("./fonts/Prompt-SemiBold.ttf");
    font-weight: 600;
    font-stretch: semi-condensed;
}
@font-face {
    font-family: "Prompt";
    src: url("./fonts/Prompt-Bold.ttf");
    font-weight: 700;
    font-stretch: semi-condensed;
}
@font-face {
    font-family: "Prompt";
    src: url("./fonts/Prompt-ExtraBold.ttf");
    font-weight: 800;
    font-stretch: semi-condensed;
}
@font-face {
    font-family: "Prompt";
    src: url("./fonts/Prompt-Black.ttf");
    font-weight: 900;
    font-stretch: semi-condensed;
}

body{
    margin: 0px;
	padding: 0px;
    font-family: "Prompt";
}